REACT_APP_TODO_BACKEND_PORT=
REACT_APP_TODO_BACKEND_PROTO=
REACT_APP_TODO_BACKEND_HOST=
REACT_APP_TODO_BACKEND=$REACT_APP_TODO_BACKEND_PROTO://$REACT_APP_TODO_BACKEND_HOST:$REACT_APP_TODO_BACKEND_PORT