REACT_APP_TODO_BACKEND_PORT=443
REACT_APP_TODO_BACKEND_PROTO=https
REACT_APP_TODO_BACKEND_HOST=backend.yourdomain.yourtld
REACT_APP_TODO_BACKEND=$REACT_APP_TODO_BACKEND_PROTO://$REACT_APP_TODO_BACKEND_HOST:$REACT_APP_TODO_BACKEND_PORT
